Cannot set certain attributes with addAttribute

It does not seem possible to use addAttribute to set certain attributes - notably ones that contain non-printing characters such as the NULL.

The particular use-case is to add VLAN attributes to a reply when proxying for a service provider. At first glance, I need something like:
```
addAttribute 64:13
addAttribute 65:6
addAttribute 81:200
```
But this doesn't work.

On delving a little deeper, it's because the structure of attributes 64 & 65 requires a four-byte value, of which the first byte is a tag that should be set to 0 if it isn't required. The above is producing one and two-byte values which don't comply with the RFC, and are not understood by the NAS.

RadSecProxy doesn't know about the requirements of particular attributes, so I need to somehow encode this value myself directly. That leads to:
```
addAttribute 64:%00%00%00%0d
```
using the % escaping that works for other options. However, it looks like the percent escaping is not honoured for addAttribute (and presumably addVendorAttribute). Instead, it looks like it is treated as a string literal and translates to an attribute with a tag of 37 and a value of 3133477 -- not quite the 13 I was looking for.

I also tried as a hack putting the null characters directly into the config file, along these lines:
```
addAttribute 64:^@^@^@^F
```
but that unsurpisingly doesn't work either.

Google found an old reference to the same problem: https://lists.nordu.net/pipermail/radsecproxy/2010/000397.html but no resolution.

Thanks for the detailed report! Too bad that old post to the mailing list was never put into the bug-tracker back then.

But good timing. As it happens, I'm currently working on #19 and I'm also adding unit tests for all of the rewrite code. Thought this seems to be a config parser issue, so I will have to test that too.

We seem to have two base issues here:
1. the value of addAttribute is always considered a string, so what you see is actually the string "13" written into the attribute, not a number - that's easy to fix
2. there's an issue with the hex interpretation. The config is read as a string, and then the hex conversion is performed. A %00 will thus be interpreted as the null character terminating the string.

My main questions is whether the hex notation is actually meaningful/required/used anywhere except for the rewrite configs?

> My main questions is whether the hex notation is actually meaningful/required/used anywhere except for the rewrite configs?

Yes, I know we use it for some RADIUS secrets.



Just pushed branch [rewrite-attribute](https://github.com/radsecproxy/radsecproxy/tree/rewrite-attribute) which should solve this.
Testing is appreciated.


I've just tried building the rewrite-attribute branch on Ubuntu 16.04LTS. I get an error building the tests:
```
gcc -DPACKAGE_NAME=\"radsecproxy\" -DPACKAGE_TARNAME=\"radsecproxy\" -DPACKAGE_VERSION=\"1.7.2\" -DPACKAGE_STRING=\"radsecproxy\ 1.7.2\" -DPACKAGE_BUGREPORT=\"https://radsecproxy.github.io\" -DPACKAGE_URL=\"\" -DPACKAGE=\"radsecproxy\" -DVERSION=\"1.7.2\" -DHAVE_MALLOPT=1 -DHAVE_LIBNETTLE=1 -DUSE_OPENSSL=1 -I.   -Wdate-time -D_FORTIFY_SOURCE=2 -g -Wall -Werror -I/usr/include -I/usr/include/openssl -Wall -pedantic -Wno-long-long -pthread -DRADPROT_UDP -DRADPROT_TCP -DRADPROT_TLS -DRADPROT_DTLS -g -O2 -fPIE -fstack-protector-strong -Wformat -Werror=format-security -c -o t_rewrite_config.o t_rewrite_config.c
t_rewrite_config.c: In function ‘main’:
t_rewrite_config.c:31:5: error: too few arguments to function ‘addrewrite’
     addrewrite(rewritename, 0, NULL, NULL, addattrs,
     ^
In file included from t_rewrite_config.c:7:0:
../rewrite.h:28:6: note: declared here
 void addrewrite(char *value, uint8_t whitelist_mode, char **rmattrs, char **rmvattrs, char **addattrs,
      ^
Makefile:562: recipe for target 't_rewrite_config.o' failed
make[3]: *** [t_rewrite_config.o] Error 1
```
Since the binary itself has built, I'm going to see if I can run some tests against that. Just wanted to record the above before I forget.

oops, seems I goofed up the staging. Should be fixed now.

I've confirmed that having a rewrite config of:
```
rewrite eduroam-to-sp-out {
        addAttribute 64:%00%00%00%0d
        addAttribute 65:%00%00%00%06
        addAttribute 81:%003
}
```
results in a RADIUS packet with the right attributes set:
```
Attribute Value Pairs
    AVP: t=Tunnel-Type(64) l=6 Tag=0x00 val=VLAN(13)
        Type: 64
        Length: 6
        Tag: 0x00
        Tunnel-Type: VLAN (13)
    AVP: t=Tunnel-Medium-Type(65) l=6 Tag=0x00 val=IEEE-802(6)
        Type: 65
        Length: 6
        Tag: 0x00
        Tunnel-Medium-Type: IEEE-802 (6)
    AVP: t=Tunnel-Private-Group-Id(81) l=4 Tag=0x00 val=3
        Type: 81
        Length: 4
        Tag: 0x00
        Tunnel-Private-Group-Id: 3
```
And I can manipulate things like the tag by playing with the appropriate % encoded field.

More importantly, my wireless controller understands the attributes and does the right thing :)

Hi,
I have the same problem and as far as I understand the problem we need to have the possibility to parse %00000006 as a 32bit integer instead of parsing %00%00%00%0d as 4 8bit integers.
Greetings,
   Lars

> I have the same problem and as far as I understand the problem we need to have the possibility to parse %00000006 as a 32bit integer instead of parsing %00%00%00%0d as 4 8bit integers.

In the [Tunnel-Medium-Type](https://tools.ietf.org/html/rfc2868#section-3.2) example, it is actually a one octet tag followed by a three octet value - so an 8-bit short and a 24-bit integer :)

Since there's no dictionary, you already need a reasonable understanding of the underlying structure of the attribute you're interested in adding. Once you're at that level of detail, I don't think it makes any difference whether you are encoding a 32-bit integer as four escaped bytes or as one escaped integer. It's all the same ones and zeros on the wire :)

I guess you might need to have some understanding of endianness.

You are right... so... a byte value of zero terminates the string which is the initial problem here. So my idea was to interpret the given values not as a string but as an integer. And you are right again... alll ones and zeroes.... ;-)

btw. plain integers (like `addAttribute 27:12`) are now interpreted as 32bit unsigned int in the attribute, as per RFC2865 section 5 (in the attribute-rewrite branch, that is). 

Hi, how can I add addAttribute 55 even timestamp? How to generate timestamps within the config file?