PolicyOID Validation

# Issue

Clarification

# Description

In radsecproxy 1.7.2, with a WBA Certificate Policies Extension included in a Radsec Server Certificate, with a policyOID 1.3.6.1.4.1.14122.1.1.2 check included in the Radsec Client's TLS block, when a radsecproxy client makes a succcessful connection to a Radsec Server and the server's certificate properties are enumerated, certificate verify fails with the error num=43 "No Explicit Certificate Policy".  Radsec Clients and Server must be able to verify a peer's WBA Certificate Policy OID as being present in a certificate.

## Background

This issue is being raised on behalf of Wireless Broadband Alliance.
WBA is currently evolving its WRIX RADIUS Roaming system to enable support of RADSEC.
RADSEC testing has been performed by multiple WBA members, including:
Accuris Networks, BSG Wireless, Cablelabs, Cisco and iPass/Pareteum

radsecproxy uses openssl to validate policies, according to RFC 5280 section 6.1, using explicit policy. This means that in order to successfully validate a policy, the policyOID (or the anyPolicy) must be present in all certificates in the chain (except the trust anchor).

The error "No Explicit Certificate Policy" means that at least one of the certificates (the server certificate or one of the intermediates) is missing the given policyOID.